

	.login_div1 , .login_div2
	{
		background: yellow;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}

	body 
{
    background-image: url("https://image.yaksgames.com/v2/game/c/2/9/c29696f583ba8ee0f9d121e8d1447e5f.jpg");
    background-position: center;
    background-size: cover;
	background-color: red;
}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: chartreuse;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
